.notFound {
  padding-top: 15%;
  text-align: center;
}

.notFound h1 {
  font-size: 130px;
}
.notFound p {
  font-size: 50px;
}


a {
  text-decoration: none;
  color: inherit;
}


.red {
  border: 3px solid red;
}